<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>18.1</title>
</head>

<body>
    <!-- <div id="app">
        <div>
            <input type="text" v-model="name">
            <span v-show="name">你的名字是{{name}}</span>
        </div>
        <div>
            <input type="text" v-model="age">
            <span v-show="age">你的年龄是{{age}}</span>
        </div>
        <div>
            <input type="text" v-model="sex">
            <span v-show="sex">你的性别是{{sex}}</span>
        </div>
    </div> -->

    <!-- <div id="app">
        {{message}}
    </div> -->

    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <script src="../lib/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>